# Haskell build artifacts
dist/
dist-newstyle/
*.hi
*.o
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog

# Cabal & Stack
.cabal-sandbox/
cabal.sandbox.config
.stack-work/

# Editors
*.swp
*.swo
*.bak
*~ 
.DS_Store
.vscode/
.idea/

